{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="street-tab" data-toggle="tab" href="#street" role="tab" aria-controls="street" aria-selected="true">Street</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false">Map</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="street" role="tabpanel" aria-labelledby="street-tab">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.streetname.label(class="form-control-label") }}
        
                        {% if form.streetname.errors %}
                            {{ form.streetname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.streetname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.streetname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group d-flex justify-content-start">
                        {{ form.bedrooms.label(class="form-control-label mr-2") }}
                        {{ form.bedrooms(class="form-control-md form-control-md mr-2") }}
                        {{ form.completion.label(class="form-control-label mr-2") }}
                        {{ form.completion(class="form-control-md form-control-md mr-2") }}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
            <form method="POST" action="">
                <fieldset class="form-group">
                    <div class="form-group">
                        <h5>Map search to be implemented</h5>
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
      </div>
</div>
{% endblock content %}