{% extends "layout.html" %}
{% block content %}
<div class="content-section">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="street" role="tabpanel" aria-labelledby="street-tab">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        <p>{{ form.streetname.label(class="form-control-label") }}</p>
        
                        {% if form.streetname.errors %}
                            {{ form.streetname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.streetname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.streetname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
        <!-- <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
            <form method="POST" action="">
                <fieldset class="form-group">
                    <div class="form-group">
                        <iframe width="700" height="550" style="border:0" loading="lazy" allowfullscreen 
                        src="https://www.google.com/maps/embed/v1/search?q=Singapore&key=AIzaSyAx55AfQSuOpZwb04-iy2byezkGLvMCNe0&center=1.3149014,103.7769791&zoom=12"></iframe>
                    </div>
                </fieldset>
            </form>
        </div> -->
      </div>
</div>
{% endblock content %}