<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha256-T/zFmO5s/0aSwc6ics2KLxlfbewyRz6UNw1s3Ppf5gE=" crossorigin="anonymous">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous">

    <!-- Main CSS stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon/favicon.ico') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Home Page</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container-fluid">
            <a class="navbar-brand mr-4" href="{{ url_for('home') }}"><i class="fa fa-home"></i> HDB App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
                <!-- <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a> -->

                <div class="nav-item mr-auto dropdown">
                  <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update</a>
                  <div class="dropdown-menu bg-steel" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item nav-item nav-link bg-steel" href="{{ url_for('update_datagov') }}">Update Data Gov Table</a>
                    <a class="dropdown-item nav-item nav-link " href="{{ url_for('update_propguru') }}">Update Propertyguru Table</a>
                    <a class="dropdown-item nav-item nav-link " href="{{ url_for('train_model') }}">Update Training Model</a>
                  </div>
                </div>
                </div>
            </div>
            </div>
        </nav>
        </header>
    
        <main role="main" class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
              </div>
              <div class="col-md-4">
                <div class="content-section">
                  <h3>Our Sidebar</h3>
                  <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                      <li class="list-group-item list-group-item-light">Item 1</li>
                    </ul>
                  </p>
                  <a href="https://www.hdb.gov.sg/business/estate-agents-and-salespersons/selling-a-flat/procedures" target="_blank">
                    <img class ="img-fluid" src="{{ url_for('static', filename='images/resale-procedures.jpg') }}">
                  </a>
                </div>
              </div>
            </div>
          </main>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" integrity="sha256-sCElQ8xaSgoxwbWp0eiXMmGZIRa0z94+ffzzO06BqXs=" crossorigin="anonymous"></script>

</body>
</html>