{% extends "layout.html" %}
{% block content %}
    <h1>Home Page</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, magna at rutrum molestie, justo tellus bibendum erat, at ultrices elit lorem at sapien. Praesent aliquam id leo sit amet mattis. Vestibulum malesuada massa tortor. Maecenas ante turpis, fringilla ac metus ut, maximus auctor metus. Sed dapibus at augue in lacinia. Nulla facilisi. Nam faucibus justo venenatis, fermentum augue ac, luctus nibh. Nam tincidunt nunc quis nisl imperdiet iaculis. Nullam venenatis tincidunt purus, sit amet posuere tellus pharetra placerat. Vivamus lobortis sem nec risus aliquam, eget pretium ante dapibus. Sed et blandit purus. Sed tempor leo ac mauris blandit imperdiet.</p>

{% endblock content %}